.header{

}
.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.up_bar{
align-items: center;
background-color: #939878;
display: flex;
gap: 563px;
height: 40px;
justify-content: flex-end;
min-width: 1440px;
padding: 0 40px;
}
.up_text {
letter-spacing: 0; 
line-height: 21px; 
margin-bottom: 1px; 
white-space: nowrap; 
width: 217px;
}
